{% extends 'base.html' %}
{% block content %}
{%  if cart_items %}
		<div class="row">
      {% for item in cart_items %}
      <div class="col-sm-6 col-lg-4 my-3">
        <div class="card">
          <img src="{{ item.product.image.url }}" alt="product image" class="img-fluid card-image">
            <!-- image overlay text -->
            <div class="card-img-overlay">
                <a href="{{ item.product.get_absolute_url }}" aria-label="view product">
                    <h6 class="card-title">{{ item.product.title }}:  <span class="badge badge-primary">{{item.quantity}}</span></h6>
                </a>
                <p class="card-text">€{{item.product.price.normalize}}</p>
                	<!-- remove from cart button -->
                    <form method="post" action="{% url 'remove-from-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class=" cart-button-remove btn btn-sm btn-danger" onclick="$(this).closest('form').submit()">-</a>
                    </form>
                    <!-- add to cart button -->
                    <form method="post" action="{% url 'add-to-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class=" cart-button-add btn btn-sm btn-success" onclick="$(this).closest('form').submit()">+</a>
                    </form>            
            </div> <!-- end card-img-overlay -->
        </div> <!-- end card -->
      </div> <!-- end col -->
      {% endfor %}
    
	<div class="col-12">
	<p class="text-center">Total cost: €{{ total.normalize }}</p>
	<p class="text-center"> Total products: {{ product_count }}</p>
	<p class="text-center"><a href="{% url 'checkout' %}" class="btn btn-sm btn-primary">Checkout</a></p>

{% else %}

	<h6 class="text-center mt-5">There are no products in your cart</h6>
	<a href="{% url 'products:all-products' %}" class="btn btn-sm btn-primary my-3">Shop for racquets</a>
	</div> <!-- end col-->
	</div> <!-- end row -->
{% endif %}

{% endblock%}