{% extends 'base.html' %}
{% block content %}
{%  if cart_items %}
		<div class="row">
      {% for item in cart_items %}
      <div class="col-sm-6 col-lg-4 my-3">
        <div class="card">
          <img src="{{ item.product.image.url }}" alt="product image" class="img-fluid card-image">
            <!-- image overlay text -->
            	<div class="card-img-overlay">
	                <a href="{{ item.product.get_absolute_url }}" aria-label="view product">
	                    <h6 class="card-title">{{ item.product.title }}:  <span class="badge badge-primary">{{item.quantity}}</span></h6>
	                </a>
	                <h6 class="card-text">€{{item.product.price.normalize}} x <span class="badge badge-primary">{{item.quantity}}</span></h6>
                	<!-- remove from cart button -->
                    <form method="post" action="{% url 'remove-from-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class=" cart-button-remove btn btn-sm btn-danger" aria-label="remove one item from cart" onclick="$(this).closest('form').submit()">-</a>
                    </form>
                    <!-- add to cart button -->
                    <form method="post" action="{% url 'add-to-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class="cart-button-add btn btn-sm btn-success" aria-label="add one item to cart" onclick="$(this).closest('form').submit()">+</a>
                    </form> 
                    <!-- remove all items from cart button -->
					<form method="post" action="{% url 'remove-all-from-cart' item.id %}">
	                  {% csrf_token %}
	                   <input type="hidden" name="id" value ="{{item.id}}">
	                   <a href="#" class="cart-remove-all btn btn-sm btn-danger" aria-label="remove all of one item from cart" onclick="$(this).closest('form').submit()">Remove all</a>
	                 </form>	           
            	</div> <!-- end card-img-overlay -->
        </div> <!-- end card -->
      </div> <!-- end col -->
      {% endfor %}
    
	<div class="col-12">
	<p><strong>Total:</strong> €{{ total.normalize }}</p>
	<p><strong>Total products:</strong> {{ product_count }}</p>
	<p class="text-center"><a href="{% url 'checkout' %}" aria-label="proceed to checkout" class="btn btn-sm btn-primary">Checkout</a></p>
	</div>
{% else %}
	<div class="col-12">
	<h6 class="text-center mt-4">There are no products in your cart</h6>
	<h6 class="text-center mt-4"><a href="{% url 'products:all-products' %}" aria-label="shop now for racquets" class="btn btn-sm btn-primary">Shop now</a></h6>
	</div> <!-- end col-->
	</div> <!-- end row -->
{% endif %}

{% endblock %}