{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}
	
		<h1 class="mb-3 mt-3">Log In</h1>
			<form method="POST">
			{% csrf_token %}
				<fieldset class="form-group">
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
	                <button class="btn btn-sm btn-primary" type="submit">Log In</button>
	            </div>
	        </form>   
	        	<div> <p> Not a registered user?</p>
	            		<a button class="btn btn-sm btn-primary mb-3" href="{% url 'register' %}">Register</a>
	            </div>
	
{% endblock %}