{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_js %}
<script src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Checkout</h1>

{% for item in cart_items %}

<div class="col-sm-6 col-lg-4 my-3">
        <div class="card">
          <img src="{{ item.product.image.url }}" alt="product image" class="img-fluid card-image">
            <!-- image overlay text -->
                <div class="card-img-overlay">
                    <a href="{{ item.product.get_absolute_url }}" aria-label="view product">
                        <h6 class="card-title">{{ item.product.title }}:  <span class="badge badge-primary">{{item.quantity}}</span></h6>
                    </a>
                    <h6 class="card-text">€{{item.product.price.normalize}} x <span class="badge badge-primary">{{item.quantity}}</span></h6>
                    <!-- remove from cart button -->
                    <form method="post" action="{% url 'remove-from-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class=" cart-button-remove btn btn-sm btn-danger" aria-label="remove one item from cart" onclick="$(this).closest('form').submit()">-</a>
                    </form>
                    <!-- add to cart button -->
                    <form method="post" action="{% url 'add-to-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class="cart-button-add btn btn-sm btn-success" aria-label="add one item to cart" onclick="$(this).closest('form').submit()">+</a>
                    </form> 
                    <!-- remove all items from cart button -->
                    <form method="post" action="{% url 'remove-all-from-cart' item.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="id" value ="{{item.id}}">
                       <a href="#" class="cart-remove-all btn btn-sm btn-danger" aria-label="remove all of one item from cart" onclick="$(this).closest('form').submit()">Remove all</a>
                     </form>               
                </div> <!-- end card-img-overlay -->
        </div> <!-- end card -->
      </div> <!-- end col -->

     {% endfor %}

     <h6 class="text-center">Total</h6>

     <p>{{total}}</p>

     <p class="text-center"> Total products: {{ product_count }}</p>

<!-- Payment Form -->
    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        <h3>Payment Details:</h3>
    
        <div id="credit-card-errors" style="display: none;">
            <div id="alert-message block-message error" id="stripe-error-message"></div>
        </div>
        
        <div class="row">
            <!-- Card Infomation -->
            <div class="form-group col-md-6">
                <h6>Card Details</h6>
                {{ payment_form |crispy }}  
            </div>
            <!-- Billing Infomation -->   
            <div class="form-group col-md-6">
                <h6>Billing Address</h6>
                {{ order_form |crispy }}
            </div>
        </div>
        {% csrf_token %}
        <!-- Submit Payment Button -->
        <div class="form-group col-md-12">
            <input class=" btn btn-primary m-auto" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>

{% endblock %}