*,
  *:before,
  *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

/* give body postion relative so that the footer can be absolute */
body {
    text-decoration: none;
  	font-family: 'Exo 2', sans-serif;
    background-color: #f8f8ff;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    position: relative;
    padding-bottom: 70px;
    min-height: 100%;
}
 /* default h1 font size for smaller screens */
h1 {
    font-size: 1.8rem;
}
/* default h2 font size for smaller screens */
h2 {
    font-size: 1.1rem;
}

/* code credit: https://bootstrapcreative.com/pattern/full-width-carousel-responsive-images*/
/* keeps carousel image at 100% width and height auto*/
.carousel-item .img-fluid {
    width: 100%;
}

/* home page carousel image size*/
.carousel-image {
    height: 100%;
}

/* card-title styling */
.card-image {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* card-title styling */
.card-title {
    top: 0;
    position: absolute;
    padding-top: 3px;
    color: #0275d8; 
}

.card-text {
    color: #0275d8;
    bottom: 0;
    position: absolute;
    padding-bottom: 3px; 
}

.cart-button {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 40%;
}

.cart-button-remove {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 43px;
    margin-bottom: 45%;
}

.cart-button-add {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 45%;
}

.cart-remove-all {
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 2px;
}

/*styling for the background container on the product detail page */
.product-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 40px;
    overflow: auto;
    margin-bottom: 40px;
}

/* styling for BS form control class on register, login and search pages */
.form-control {
    width: 70%; /* 50% width on larger screens */
}

/* searchbox on search pages */
/* code credit: https://www.w3schools.com/howto/howto_css_inline_form.asp; */
.searchbox {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
}

/* searchbox button on search pages */
#searchbox-button {
    margin-left: 5px
}

/* svg icons off white colour */
.svg-icon {
    fill: #f8f8ff;
    width: 25px;
    height: 25px;
}

/* svg icons will change colour to grey on hover */
.svg-icon:hover {
    fill: #bababa;
}

/* styling for the logo title on the top left of navbar*/
#logo-title:hover {
    color: #bababa;
}

/* navbar background colour*/
.navbar {
    background-color: #f17102;
}
/* navbar dropdown colour */
#navbarDropdown {
    color: #fff;
}

/* navbar dropdown will change colour to grey on hover */
#navbarDropdown:hover {
    color: #bababa;
}

/* search icon that will appear in search bar in search page */
/* code credit: https://www.w3schools.com/css/css_form.asp */
.form-search {
    background-image: url('../img/search1.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

/* footer styling */
.footer {
    background-color: #f17102;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 70px;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-logo {
    color: #fff;
    padding-right: 20px;
}

/* github icon on footer */
#github-icon {
    fill: #f8f8ff;
    width: 35px;
    height: 35px;
}

/* github icon will change colour to blue on hover */
#github-icon:hover {
    fill: #0275d8;
}

/* ------------------ general media queries ------------------- */

/* media queries for small screens */
@media screen and (max-width: 400px) {
   
   .product-image {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
   }
   .form-control {
    width: 100%; /* 100% width on small screens */
}
}

/* medium screens and up */
@media screen and (min-width: 768px) {
    html {
        font-size: 1.05rem;
  }
    h1 {
        font-size: 2rem;
  }
    h2 {
        font-size: 1.2rem;
    }
}

/* large screens and up */
@media screen and (min-width: 992px) {
    html {
      font-size: 1.1rem;
  }
    h1 {
      font-size: 2.2rem;
  }
    h2 {
      font-size: 1.3rem;
    }
    .carousel-item {
    height: 85vh;
    }
}

/*  extra large screens and up */
@media screen and (min-width: 1200px) {
    html {
      font-size: 1.2rem;
  }
    h1 {
      font-size: 2.5rem;
  }
    h2 {
      font-size: 1.4rem;
    }
}