{% extends 'base.html' %}
{% block content %}
    {% if products %} 
        <div class="row">
          {% for product in products %}
          <div class="col-sm-6 col-lg-4 my-3">
            <div class="card">
              <img src="{{ product.image.url }}" alt="product image" class="img-fluid card-image">
                <!-- image overlay text -->
                <div class="card-img-overlay">
                    <a href="{{ product.get_absolute_url }}" aria-label="view product">
                        <h6 class="card-title">{{ product.title }}</h6>
                    </a>
                    <p class="card-text">€{{product.price}}</p>
                    <a href="#" class="btn btn-sm btn-outline-primary">Add to cart</a>    
                </div>
            </div> <!-- end card -->
          </div> <!-- end col -->
          {% endfor %}
        </div> <!-- end row -->
        
        {% else %}
        <p> Sorry, nothing to display</p>
    {% endif %}

{% endblock %}