{% extends 'base.html' %}
{% block content %} 
	<h1>Search</h1>

	<div>
	    <form class="searchbox" action="{% url 'search:search-results' %}" method="GET" value="{{request.GET.q}}">
			<input type="text" class="form-control form-search" name="q" aria-label="search text input" value="{{request.GET.q}}" placeholder="Search products"/>
			<input type="submit" id="searchbox-button" class="btn btn-sm btn-primary" aria-label="search button" name="submit" value="Search"/>
		</form>
	</div>
	<div>
		{% if results_count == 0 %}
		<h2> Sorry, no results for "{{ request.GET.q }}" </h2>
		
		{% elif results_count == 1 %}
		<h2 class="pb-3">"
	                <span>{{ request.GET.q }}</span>" yielded 
	                <span>1</span> result
	    </h2>
		
		{% elif results_count > 1 %}
		<h2 class="pb-3">"
	                <span>{{ request.GET.q  }}</span>" yielded 
	                <span>{{ results_count }}</span> results
	    </h2>

	    {% else%}
		{% endif %}
	</div>
	<div>
		{% if results %}
		<div class="row">
      {% for result in results %}
      <div class="col-sm-6 col-lg-4 my-3">
        <div class="card">
          <img src="{{ result.image.url }}" alt="product image" class="img-fluid card-image">
            <!-- image overlay text -->
            <div class="card-img-overlay">
                <a href="{{ result.get_absolute_url }}" aria-label="view product">
                    <h6 class="card-title">{{ result.title }}</h6>
                </a>
                <p class="card-text">€{{result.price}}</p>
                	<!-- add to cart button -->
                    <form method="post" action="{% url 'add-to-cart' result.id %}">
                      {% csrf_token %}
                       <input type="hidden" name="quantity" value="1">
                       <input type="hidden" name="id" value ="{{result.id}}">
                       <a href="#" class=" cart-button btn btn-sm btn-primary" onclick="$(this).closest('form').submit()">Add to cart</a>
                    </form>       
            </div> <!-- end card-img-overlay -->
        </div> <!-- end card -->
      </div> <!-- end col -->
      {% endfor %}
    </div> <!-- end row -->
		
		{% endif %}
	</div>
{% endblock%}