{% extends 'base.html' %}
{% block content %} 
	<h1>Search</h1>

<div>
    <form action="{% url 'search-results' %}" method="GET" value="{{request.GET.q}}">
		<input type="text" name="q" value="{{request.GET.q}}" placeholder="Search products"/>
		<input type="submit" name="submit" value="Search"/>
	</form>
</div>

	{% if results_count == 0 %}
	<h2> Sorry, no results found for "{{ request.GET.q }}" </h2>
	
	{% elif results_count == 1 %}
	<h2 class="pb-3">Your search for "
                <span>{{ request.GET.q }}</span>" yielded 
                <span>1</span> result
    </h2>
	
	{% elif results_count > 1 %}
	<h2 class="pb-3">Your search for "
                <span>{{ request.GET.q  }}</span>" yielded 
                <span>{{ results_count }}</span> results
    </h2>

    {% else%}
    

	{% endif %}

	{% if results %}
	{% for result in results %}
	<ul>
		<li class="list-group-item"><a class="text-dark" href="{% url 'products:product-detail' result.slug %}">{{ result.title }}</a>
		</li>
		<li class="list-group-item text-dark">{{ result.description|truncatewords:20 }}</li>
	</ul>
	{% endfor %}

	{% endif %}

{% endblock%}