{% extends 'base.html' %} 

{% load crispy_forms_tags %}

{% block content %}
	
		<h1 class="mb-3">Register</h1>
			<form method="POST">
			{% csrf_token %}
				<fieldset class="form-group">
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
	                <button class="btn btn-sm btn-primary" type="submit">Sign Up</button>
	            </div>
	         </form>
	         	<div> <p> Already registered?</p>
	            		<a button class="btn btn-sm btn-primary mb-3" href="{% url 'login' %}">Log In</a>
	            </div>   
	
{% endblock %}