{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Racquets</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- bootstrap css -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css -->
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <!-- favicon --> 
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    {% block head_js %}{% endblock %}
</head>

<body> 

	<!-- nav  -->

    <nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
      <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand font-weight-bold">Racquets</a>
          <span class="pl-3 text-light d-none d-lg-block">Vintage Tennis Racquets</span>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#dropdown">
              <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="dropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Shop
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'products:all-products' %}">All Racquets</a>
                      <a class="dropdown-item" href="{% url 'search:category-detail' category='Modern' %}">Modern</a>
                      <a class="dropdown-item" href="{% url 'search:category-detail' category='Graphite' %}">Graphite</a>
                      <a class="dropdown-item" href="{% url 'search:category-detail' category='Oversize' %}">Oversize</a>
                      <a class="dropdown-item" href="{% url 'search:category-detail' category='Metal' %}">Metal/Hybrid</a>
                      <a class="dropdown-item" href="{% url 'search:category-detail' category='Wood' %}">Wood</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'about' %}" class="nav-link text-light">About</a>
                  </li>
                   {% if user.is_authenticated %}
                   <li class="nav-item">
                    <a href="{% url 'account' %}" class="nav-link text-light">Account</a>
                  </li>
                   <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link text-light">Logout</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'cart' %}" class="nav-link text-light">Cart</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link text-light">Login</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url 'register' %}" class="nav-link text-light">Register</a>
                  </li>
                  {% endif %}
                  <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link text-light">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a href="{% url 'search:search' %}" class="nav-link text-light">Search</a>
                  </li>  
                </ul>
              </div> <!-- end of navbar collapse -->
      </div> <!-- end of nav container -->
    </nav> <!-- end of nav -->

      <div class="container"> <!-- main content container -->
        <!-- messages -->
        <div class="text-center">
          {% if messages %}
            {% for message in messages %}
                  <div class="alert alert-{{ message.tags }} mt-3">
                    {{ message }}
                  </div>
            {% endfor %}
          {% endif %}
         </div> <!-- end of messages div -->    
        
            {% block content%} {% endblock%}
      </div> <!-- end of main content container -->
<!-- footer -->

            <footer class="footer bg-primary">
              <h2 class="footer-logo">Racquets</h2>
            </footer><!-- end of footer -->
        
<!-- scripts -->
    
    <!-- Popper JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script src="//cdn.rawgit.com/saribe/eModal/1.2.67/dist/eModal.min.js"></script>

    {% block js %}{% endblock %}
    
</body>
</html>