{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}
{% cloudinary "lendl_vhhjlp.jpg" width=100 height=100 fetch_format="auto" crop="scale" %}
<div class="row">
    {% if products %}
    {% for product in products %}
       <ul>             
            <li>{% cloudinary product.image.url width=100 height=100 %}</li>
            <li>{{ product.title }}</li>
            <li>{{ product.description }}</li>
            <li>Price: €{{ product.price }}</li>
            <li><a href="{{product.get_absolute_url}}">view</a></li>
        </ul>      
    {% endfor %}
    {% else %}
    <p> Sorry, Nothing to display</p>
    {% endif %}
</div>
{% endblock %}