{% extends 'base.html' %}
{% block content %}
{% load cloudinary %} 
{% cloudinary product.image.url width=100 height=100 %}

  <p><strong>Title:</strong> {{ product.title }}</p>
  <p><strong>Description:</strong> {{ product.description }}</p> 
  <p><strong>Price:</strong> {{ product.price }}</p> 
  <img src="{{product.image.url}}" alt="{{product.title}}">  

<!-- test submit form to see if the item can be added to cart -->
	<form method="post" action="{% url 'add-to-cart' product.id %}">
      {% csrf_token %}
        <div class="input-group">
            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
            <span class="input-group-btn">
            	 <div class="input-group-addon">{{item.quantity}}</div>
                <button class="btn btn-success" type="submit">Add</button>
            </span>
        </div>
    </form>
  

{% endblock%}