{% extends 'base.html' %}
{% block content %}

  <div class="product-container">
    <img width="300" height="300" class="product-image" alt="{{product.title}}" src="{{product.image.url}}"/>
      <h1>{{ product.title }}</h1>
        <div>
          {{product.description |linebreaks }}
        </div>
        <div class="image container">
          <div class="bottom-left">€{{product.price}}</div> 
            <!-- form to add an item to the cart -->
            <form method="post" action="{% url 'add-to-cart' product.id %}">
              {% csrf_token %}
               <input type="hidden" name="quantity" value="1">
               <input type="hidden" name="id" value ="{{product.id}}">
               <a class="bottom-right btn btn-sm btn-outline-primary" href="#" onclick="$(this).closest('form').submit()">Add to cart</a>
            </form>
          </div> <!-- end image container -->
  </div> <!-- end product container -->

{% endblock %}
